.activeDetailsTemplate {
  background-color: var(--bg-primary);
  padding: 10px;
  border-radius: 10px;
}
.dateLogo {
  background-color: #3bb54a;
  color: var(--bg-body);
  margin-bottom: 0;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  margin-right: 15px;
}
