.mealDatePicker > .ant-picker {
  min-height: 45px;
  border-radius: 15px;
  background-color: #4fba6f !important;
}

.mealDatePicker > .ant-picker .ant-picker-input > input {
  font-size: 20px !important;
  text-align: center !important;
  color: var(--bg-body) !important;
  font-weight: 500;
}
.mealDatePicker > .ant-picker .ant-picker-suffix {
  color: var(--bg-body) !important;
  font-weight: 500;
  font-size: 20px !important;
}
.mealDatePicker > .ant-picker .ant-picker-clear {
  background-color: #4fba6f !important;
  color: var(--bg-body) !important;
  font-weight: 500;
  font-size: 20px !important;
}
.addMealCostSection {
  /* border: 1px solid var(--text-tertiary);
  background-color: var(--bg-primary); */
  border-radius: 24px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  /* border-radius: 10px; */
}

.sectionShadow {
  background: linear-gradient(145deg, #161717, #1a1b1c);
  box-shadow: 5px 5px 9px #141516, -5px -5px 9px #1c1d1e;
}
.ant-select-selector {
  min-height: 45px !important;
}
.ant-select-multiple .ant-select-selection-item {
  height: 100%;
}
.ant-select-multiple .ant-select-selection-placeholder {
  font-size: 18px;
}
.ant-select .ant-select-arrow {
  font-size: 18px;
}
.ant-input {
  min-height: 45px;
  font-size: 18px;
}
.addMealItemMargin {
  margin-top: -20px;
}
.ant-input {
  min-height: 45px !important;
}
.addMealCostSectionMain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
}
.react-datepicker__input-container {
  display: flex !important;
  align-items: center !important;
}
.react-datepicker__input-container .react-datepicker__calendar-icon {
  min-height: 25px;
  width: 25px;
  margin-left: 5px;
  color: var(--bg-body);
}
.react-datepicker__input-container input {
  background-color: #3bb54a !important;
  min-height: 45px;
  font-size: 20px !important;
  text-align: center !important;
  color: var(--bg-body) !important;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 10px;
}
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__header {
  background-color: var(--bg-primary) !important;
  color: var(--text-primary) !important;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: var(--text-primary) !important;
}
.react-datepicker__current-month {
  color: var(--text-primary) !important;
}
.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: var(--bg-secondary) !important;
}
.react-datepicker {
  background-color: var(--bg-tertiary) !important;
  color: var(--text-primary) !important;
  border: none !important;
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: transparent !important;
}
@media only screen and (max-width: 576px) {
  .addMealCostSectionMain {
    display: none;
  }
  .memberImageEach {
    width: 25px;
  }
  .memberNameEach {
    font-size: 17px;
  }
  .addMealCostSection {
    background-color: transparent;
    border: none;
    margin-top: 0;
    padding: 10px;
  }
  .mealDatePicker > .ant-picker {
    min-height: 35px !important;
  }

  .mealDatePicker > .ant-picker .ant-picker-input > input {
    font-size: 18px !important;
  }
  .mealDatePicker > .ant-picker .ant-picker-suffix {
    font-size: 18px !important;
  }
  .mealDatePicker > .ant-picker .ant-picker-clear {
    font-size: 18px !important;
  }
  .ant-select-selector {
    min-height: 35px !important;
  }
  .ant-select-multiple .ant-select-selection-placeholder {
    font-size: 18px !important;
  }
  .ant-select .ant-select-arrow {
    font-size: 18px !important;
  }
  .ant-input {
    min-height: 35px !important;
    font-size: 18px !important;
  }
  .addMealItemMargin {
    margin-top: -20px !important;
  }
  .ant-input {
    min-height: 35px !important;
  }
}
