.activeMonthBtnGroups {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 30px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.activeMonthBtnGroups::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.activeMonthBtnGroups {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.activeNav {
  background-color: #5d83ac;
  color: var(--bg-body);
  font-weight: 700;
}
.activeDatePicker > div > div input {
  min-height: 35px !important;
  background-color: aliceblue !important;
  padding: 0 !important;
  max-width: 130px;
  font-size: 16px !important;
}
.ant-table-wrapper .ant-table {
  background-color: var(--bg-personalDashboard);
  box-shadow: var(--card-shadow);
}
.ant-table-wrapper .ant-table-tbody > tr.ant-table-placeholder {
  background-color: var(--bg-personalDashboard);
  box-shadow: var(--card-shadow);
}

.pagination-item li {
  height: auto !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.active-month-sm {
  display: none;
}
.phoneBookContainerItemBg {
  display: none;
}

@media only screen and (max-width: 576px) {
  .activeMonthSectionMain {
    display: none;
  }
  .active-month-sm {
    display: block;
  }
  .activeMonthLg {
    display: none !important;
  }
  .phoneBookContainerItemBg {
    display: block;
  }
}
