.phoneItem{
    background-color: #11121d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 5px 15px;
    border-radius: 10px;
}
.phoneBtn{
    background-color: #fee21f;
    color: var();
}