.userIcon {
  height: 38px;
  width: 38px;
  border-radius: 50%;
}
.header {
  border-bottom: 1px solid var(--text-tertiary);
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--bg-body);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.navItem {
  font-size: 18px;
  margin-bottom: 0;
  margin-right: 18px;
}
.profileArrow {
  flex-direction: column !important;
  position: absolute;
  top: 35px;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--bg-secondary);
}
.ant-dropdown .ant-dropdown-menu {
  background-color: var(--bg-secondary) !important;
}
.ant-dropdown-menu-item {
  color: var(--text-primary) !important;
}
.SmallNav {
  display: none;
  border-radius: 10px;
  background-color: var(--bg-secondary);
}
.headerMainMd{
  display: none;
}


@media screen and (min-device-width: 576px) and (max-device-width: 992px) { 
  .headerMainMd{
    display: block;
  }
  .header {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 576px) {
  .SmallNav {
    display: block;
  }
  .header {
    display: none;
  }
  .headerMainMd{
    display: none;
  }
}

