.spinnerMain{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.spinnerMainItem{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.ant-spin .ant-spin-dot-item{
    background-color: #66eb63;
}