.d-gridTwo {
  display: grid;
  grid-template-columns: 7fr 5fr;
  align-items: center;
  padding-bottom: 2px;
}

.divider {
  font-size: 22px;
  width: 100%;
  display: flex;
  align-items: center;
}

.divider::before,
.divider::after {
  flex: 1;
  content: "";
  padding: 0.5px;
  background-color: var(--text-tertiary);
  margin: 5px;
}
.overview {
  background-color: var(--bg-personalDashboard);
  margin-bottom: 12px;
  border-radius: 8px;
}
.homeFloatIcon {
  right: 45;
}

.footerMargin {
  margin-bottom: 20px;
}
/* .ant-float-btn-default .ant-float-btn-body{
  background-color: none !important;
}
.ant-float-btn .ant-float-btn-body .ant-float-btn-content {
  flex-direction: row-reverse;
  min-height: auto;
  min-width: 100px;
} */
@media screen and (max-device-width: 992px) {
  .home-container {
    padding: 0 12px;
  }
}
@media screen and (max-device-width: 576px) {
  .homeFloatIcon {
    right: 35px;
    bottom: 100px;
  }
  .footerMargin {
    margin-bottom: 85px;
  }
}
