.sideHeader {
  min-height: 100dvh;
  border-right: 1px solid var(--text-tertiary);
}
.headerExpand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-tertiary);
  padding: 9px 0px;
  margin: 0px 10px;
}
.headerLogo {
  max-height: 45px;
  max-width: 160px;
}
.sideNavItems {
  margin: 0px 10px;
}

.sideNavItems a {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 4px;
  border-radius: 5px;
  /* border: 1px solid gainsboro; */
}
.addMoney{
  padding-left: 7px !important;
}

.sideNavItem {
  font-size: 17px;
  font-weight: 300;
}
.sideNavMainItem{
  padding-left: 7px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.sideNavItems a:hover {
  background-color: var(--bg-secondary);
}
.sideNavMainItem:hover {
  background-color: var(--bg-secondary);
}
