.sideHeader {
  min-height: 100vh;
  border-right: 1px solid var(--text-tertiary);
  display: flex;
  align-items: center;
  flex-direction: column;
  /* width: 100%; */
  /* overflow-y: scroll;
  overflow-x: hidden; */
  /* position: relative; */
}
.headerExpand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-tertiary);
  padding: 9px 0px;
  margin: 0px 10px;
}
.headerLogo {
  max-height: 45px;
  max-width: 160px;
}
.sideNavItems {
  margin: 0px 10px;
}

.sideNavItems a {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 4px;
  border-radius: 5px;
  /* border: 1px solid gainsboro; */
}
.addMoney {
  padding-left: 7px !important;
}

.sideNavItem {
  font-size: 17px;
  font-weight: 300;
}

.sideNavMainItem {
  padding-left: 7px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.sideNavItems a:hover {
  background-color: var(--bg-quaternary);
}
.sideHeader > .sideNavItems a:hover {
  background-color: var(--bg-secondary) !important;
}
.sideHeader > .sideNavItems .sideNavMainItem:hover {
  background-color: var(--bg-secondary) !important;
}
.sideNavMainItem:hover {
  background-color: var(--bg-quaternary);
}
.ant-drawer-header-title {
  flex-direction: row-reverse !important;
}
.sideDrawer {
  background-color: var(--bg-secondary) !important;
}
.ant-drawer .ant-drawer-close {
  color: var(--text-primary) !important;
  margin-right: 0 !important;
}
.ant-drawer .ant-drawer-body {
  padding: 5px !important;
}
.sidebarSm {
  display: none;
}
@media only screen and (max-width: 576px) {
  .sideHeader {
    display: none;
  }
  .sidebarSm {
    display: block;
  }
}

.logOutForm {
  display: flex;
  align-items: center;
  background-color: var(--bg-extraDashboard);
  box-shadow: var(--card-shadow);
  margin-top: auto;
  padding: 10px;
  position: sticky;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.logOutImg img {
  height: 45px;
  width: 45px;
}
