.profileEditPosition{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    right: 10px;
    height: 35px;
    width: 35px;
    background-color: var(--bg-tertiary);
    border-radius: 50px;
}