.messProfileIcon{
    width: 20px;
    margin-right: 10px;
}
.messProfileName{
    font-size: 18px;
}
.messProfileHeaderMain{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--text-secondary);
    padding-bottom: 15px;
    margin-bottom: 17px;
}