.componentHeader {
  display: flex;
  align-items: center;
  padding: 30px 15px 10px 15px;
}
.componentHeader h3 {
  font-size: 20px;
  margin-bottom: 0;
}
.componentHeaderIcon {
  font-size: 20px;
  margin-bottom: 0;
  margin-right: 10px;
}
.phoneBookContainer {
  display: none;
  background-color: var(--bg-app-primary);
  min-height: 100vh;
}
.componentAddSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.componentAddIconSection {
  padding: 5px 15px;
  border-radius: 8px;
  background-color: #fee21f;
  /* background-color: var(--text-primary); */
}
.componentAddIcon {
  color: var(--bg-primary);
}
.phoneBookContainerMain {
  background-color: var(--bg-body);
  padding-bottom: 50px;
  border-bottom-right-radius: 70px;
  margin-right: -5px;
}
.phoneBookContainerItem {
  background-color: var(--bg-app-primary);
  border-top-left-radius: 70px;
  margin-left: -5px;
}
.phoneBookContainerMainBg {
  background-color: var(--bg-app-primary);
}
.phoneBookContainerItemBg {
  background-color: var(--bg-body);
}


@media screen and (min-device-width: 576px) and (max-device-width: 992px) { 
  .phonebookSection{
    margin: 0 20px;
  }
}


@media only screen and (max-width: 576px) {
  .componentAddSection {
    padding: 30px 25px 0px 20px;
  }
  .phoneBookContainer {
    display: block;
  }
  .phonebookSection{
    display: none;
  }
}
