.notificationModal > .ant-modal-content {
  padding: 10px 10px 20px;
  max-height: 85vh;
  overflow-y: auto;
}
.modalItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modalItem:hover {
  background: var(--bg-tertiary);
}
.notificationModal > .ant-modal-content > .ant-modal-header .ant-modal-title {
  font-size: 22px;
}
.notificationModal {
  position: absolute;
  top: 65px;
  right: 10px;
  max-width: 350px;
  max-height: 500px;
}
.modalOpenIcon {
  background-color: #2D363D59;
  box-shadow: var(--card-shadow);
}

.dateImgNotification {
  background-color: #5d83ac;
  color: var(--bg-body);
  margin-bottom: 0;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50px;
  margin-right: 10px;
}
.itemBold {
  font-weight: 500;
  margin-bottom: 0;
}
.ant-badge .ant-badge-count {
  color: var(--text-primary);
  transform: translate(45%, -40%);
  top: 2px;
}
.ant-badge .ant-badge-multiple-words {
  padding: 0px 4px;
}
.itemLight {
  font-weight: 300;
  margin-bottom: 0;
}
