.d-flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 10px;
}

.swal2-popup {
  background-color: var(--bg-extraDashboard) !important;
}
.swal2-title {
  color: var(--text-primary) !important;
}
.swal2-input {
  border: 1px solid var(--text-tertiary) !important;
  color: var(--text-secondary) !important;
}
.swal2-input:focus {
  border: 2px solid #848ca8 !important;
  box-shadow: none !important;
}
.swal2-input:focus-visible {
  outline: none !important;
}
.swal2-html-container {
  color: var(--text-secondary) !important;
}
.swal2-success-ring {
  border: 0.25em solid rgb(74 154 76 / 95%) !important;
}
.swal2-default-outline:focus {
  box-shadow: none !important;
}
.swal2-confirm:focus {
  box-shadow: none !important;
}
.memberImageEach {
  width: 35px;
}
.memberNameEach {
  font-size: 20px;
}
.ant-btn-primary {
  background: var(--gradient-primary) !important;
}

.ant-input,
.ant-select-selector {
  border: transparent !important;
  background-color: transparent !important;
  box-shadow: inset 0 0 10px -4px black !important;
}

.ant-input-affix-wrapper {
  background-color: transparent !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.bg_tertiary {
  background-color: var(--bg-tertiary) !important;
}

/* Remove background color for autocomplete suggestions */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: transparent !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

input:focus,
input:active {
  background-color: transparent !important;
}

input:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0 1000px #11151c inset !important;
}

.ant-input:-webkit-autofill,
.ant-input:focus,
.ant-input:active,
.ant-input:hover {
  background-color: transparent !important;
}

.ant-input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #11151c inset !important;
}

html body .ant-input-affix-wrapper > input.ant-input:focus * {
  background-color: transparent !important;
  box-shadow: 0 0 0 1000px #11151c inset !important;
}

.ant-input-affix-wrapper > input.ant-input:focus * {
  box-shadow: 0 0 0 1000px #11151c inset !important;
}
.ant-picker-panel-container{
  background-color: var(--bg-extraDashboard);
}
.ant-picker-dropdown .ant-picker-today-btn{
  color: var(--text-primary);
}
.ant-picker-dropdown .ant-picker-today-btn:hover{
  color: var(--text-secondary);
}