/* 
    --primary-100:#2C577D;
    --primary-200:#5d83ac;
    --primary-300:#bfe5ff;
    --accent-100:#FF7F11;
    --accent-200:#8e2000;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#11151C;
    --bg-200:#20242b;
    --bg-300:#373b43;     

*/

:root {
  --bg-body: #11151c;
  --bg-primary: #242526;
  --bg-secondary: #91b3ff26;
  --bg-tertiary: #3a3b3c;
  --bg-quaternary: #232e3b;
  /* --bg-app-primary: #434343; */
  --bg-app-primary: #060811;
  /* --bg-member: #27244652; */
  --bg-personalDashboard: #21293659;
  --text-primary: #e4e6eb;
  --text-secondary: #5d83ac;
  --text-tertiary: #62636652;
  /* --text-tertiary: #626366; */
  --border-tertiary: #565963;
  --icon-primary: #e4e6eb;
  --icon-purple: #f3425f;
  --icon-blue: #0866ff;
  --icon-red: #e41e3f;

  --card-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --gradient-primary: linear-gradient(90deg, #2d587e, #519ada);
}

/* :root {
  --bg-body: #18191a;
  --bg-primary: #242526;
  --bg-secondary: #303030;
  --bg-tertiary: #3a3b3c;
  --bg-quaternary: #232e3b;
  --bg-app-primary: #060811;
  --bg-member: #202122;
  --bg-personalDashboard: #202122;
  --text-primary: #e4e6eb;
  --text-secondary: #b0b3b8;
  --text-tertiary: #62636652;
  --border-tertiary: #565963;
  --icon-primary: #e4e6eb;
  --icon-purple: #f3425f;
  --icon-blue: #0866ff;
  --icon-red: #e41e3f;
} */

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 400;
  color: var(--text-primary);
  text-decoration: inherit;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-body);
  color: var(--text-primary);
}
