.messDetails {
  padding: 20px 10px;
  border-radius: 10px;
  background-color: var(--bg-personalDashboard);
  box-shadow: var(--card-shadow);
}

.messDetails h4 {
  color: var(--text-secondary);
  padding-bottom: 6px;
  text-shadow: 2px 2px 5px #00000075;
  font-weight: 900;
  font-size: 26px;
}
.messDetailsIconSpace{
  margin-right: 10px;
}

@media only screen and (max-width: 470px) {
  .messDetails {
    padding: 20px 5px 20px 10px;
  }
  .messDetailsIconSpace{
    margin-right: 5px;
  }
}
