.mainBody {
  min-height: 100vh;
}

.layout-body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 10px;
}
.mainLayout {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 0;
}
.footer {
  margin-top: auto;
}
.sideHeaderLayout {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sideHeaderLayout::-webkit-scrollbar-track {
  background-color: transparent !important;
}

@media only screen and (max-width: 992px) {
  .layout-body {
    width: 100vw !important;
    padding: 0;
  }
  .mainLayout {
    grid-template-columns: 0px 1fr;
  }
  
}

@media only screen and (max-width: 576px) {
 
  .footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: block !important;
  }
}
