.btnGroups {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}
.userForm {
  background-image: image-set("/images/loginBg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.login-form {
  padding: 20px 0;
  margin: 0 20px;
  color: var(--text-primary) !important;
}
.login-left {
  display: flex;
  flex-direction: column;
  color: #a0a09b;
  min-height: 100vh;
  max-width: 400px;
  background: url(/images/bg4.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 3px solid black;
  overflow-y: auto;
  overflow-x: hidden;
}
.login-right {
  min-height: 100vh;
  background: url(/images/bg2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
}

.login-right > .d-flex > * {
  filter: none !important;
}
.welcomeMsg {
  font-size: 22px;
}
.forgotMsg {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.checkboxForm {
  margin-bottom: 0;
}
.userForm {
  min-height: 100vh;
}

.mnscs {
  text-wrap: wrap;
  position: absolute;
  top: 0;
  left: 180px;
}

@media only screen and (max-width: 576px) {
  .login-right {
    display: none;
  }
  .login-left {
    max-width: 576px;
  }
}
@media only screen and (max-width: 700px) {
  .welcomeMsg {
    font-size: 18px;
  }
}
