.btnGroups {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}
.userForm {
  background-image: image-set("/images/loginBg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.login-form {
  padding: 20px 0;
  margin: 0 20px;
  color: var(--text-primary) !important;
}
.login-left {
  display: flex;
  flex-direction: column;
  color: #a0a09b;
}
.login-right {
  min-height: 100vh;
}
.welcomeMsg {
  font-size: 22px;
}
.forgotMsg {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.checkboxForm {
  margin-bottom: 0;
}
.userForm {
  min-height: 100vh;
}
/* .ant-input-affix-wrapper{
    background-color: transparent !important;
}
.ant-input{
    background-color: transparent !important;
    color: var(--text-secondary) !important;
}
.ant-input::placeholder{
    color: var(--text-secondary) !important;
}
.ant-input-affix-wrapper{
    color: var(--text-primary) !important;
}
.ant-input-password-icon{
    color: var(--text-primary) !important;
}
.ant-checkbox-wrapper{
    color: var(--text-primary) !important;
} */

.mnscs {
  text-wrap: wrap;
  position: absolute;
  top: 0;
  left: 180px;
}

.login-right {
  background: url(/public/images/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
}
.login-left {
  background: url(/public/images/bg4.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 3px solid black;
}

@media only screen and (max-width: 700px) {
  .welcomeMsg {
    font-size: 18px;
  }
}
